{% extends "home_app/base.html" %} {% load static %} {% block content %}

<div class="container">
  <h1>About Project</h1>
  <div class="container">
    <p>
      ERP, or Enterprise Resource Planning software is usually core software for
      every large business. According to
      <a
        href="https://en.wikipedia.org/wiki/Enterprise_resource_planning"
        target="_blank"
        >Wikipedia</a
      >, ERP is the integrated management of main business processes, often in
      real-time and mediated by software and technology. ERP is usually referred
      to as a category of business management software—typically a suite of
      integrated applications—that an organization can use to collect, store,
      manage and interpret data from many business activities.
    </p>
    <br />
    <p>
      In this project, ERP will be based on balanced score card theory, which
      suggest for a business to keep a balanced between People, Operation,
      Customers and Finance. In addition, there will be a section for Project
      management, KPI reports and Admin section for management of Users and
      Permissions.
    </p>

    <div class="row">
      <div class="col-3">
        <ul>
          <li>People</li>
          <ul>
            <li>People Data</li>
            <li>Health, Safety & Environment</li>
            <li>Skills, Learning & Development</li>
            <li>Disciplinary & Grievance</li>
          </ul>
          <li>Operation</li>
          <ul>
            <li>Manufacturing</li>
            <li>Supply Chain</li>
          </ul>
          <li>Customers</li>
          <ul>
            <li>Customer Data</li>
            <li>E - Commerce</li>
            <li>Marketing</li>
          </ul>
          <li>Finance</li>
          <ul>
            <li>Single Entry Bookkeeping</li>
            <li>Double Entry Bookkeeping</li>
            <li>Payroll</li>
          </ul>
          <li>Projects</li>
          <ul>
            <li>Projects Data</li>
            <li>Projects Management</li>
          </ul>
          <li>KPIs</li>
          <ul>
            <li>Balanced Score Card</li>
            <li>People KPIs</li>
            <li>Operation KPIs</li>
            <li>Customers KPIs</li>
            <li>Finance KPIs</li>
          </ul>
        </ul>
      </div>
      <div class="col-9">
        <img
          src="{% static 'home_app/images/Open_ERP_structure.jpg' %}"
          class="img-fluid"
          alt="Image"
        />
      </div>
      <p>For more details about each section, please check section app.</p>
    </div>
    <br>
    <br />
    <h1>About Author</h1>
    <div class="container">
      <div class="row">
        <div class="col-8"></div>
        <div class="row">
          <div class="col-4">
            <img
              src="{% static 'home_app/images/stefan.jpg' %}"
              class="img-fluid"
              alt="Image"
            />
          </div>
          <div class="col-8">
            <p class="about-me">
              I am Stefan Glova, author of Open ERP project – project started in
              August 2023 with ambition to become widely used, fully
              personalised Enterprise Resource Planning software for small and
              medium businesses.
              <br />
              <br />
              Self-taught developer, mostly focused on Python, Django, Flask,
              JavaScript and SQL, but this is just beginning of the jurney.
              <br />
              <br />
              Codewars warrior, who is aiming to sort all katas (challenges /
              puzzles) at Codewars in all available languages (currently
              percentile rank top 0.9 %).
            </p>
            <h3 class="small-heading">More of my activities here:</h3>
            <div class="row">
              <div class="col-12">
                <a
                  href="https://www.codewars.com/users/glovastefan"
                  target="_blank"
                  ><button type="button" class="btn btn-secondary">
                    Codewars
                  </button></a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  href="https://stackoverflow.com/users/14744151/stefan-glova"
                  target="_blank"
                  ><button type="button" class="btn btn-secondary">
                    StackOverflow
                  </button></a
                >
              </div>
              <div class="col-6">
                <a href=""
                  ><button type="button" class="btn btn-secondary">
                    
                  </button></a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  href="https://www.youtube.com/@stefanglova5027"
                  target="_blank"
                  ><button type="button" class="btn btn-secondary">
                    youtube
                  </button></a
                >
              </div>
              <div class="col-6">
                <a
                  href="https://www.linkedin.com/in/stefan-glova-b28737103/"
                  target="_blank"
                  ><button type="button" class="btn btn-secondary">
                    LinkedIn
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
