{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center;">Customers App</h1>
        <br>

        <div class="container">
            <h3>This is Customers Group of Applications, part of Open ERP</h3>
            <h4>You can choose from below application, depending whether your business is orientated to individual consumers or contractual business customers, or conbination of both.</h4>
            <ul>
                <li><a href="" class="bold-link">Customer Data</a> - this application give you an option to have contractual customers as "business to business" where you can manage data of your regular cusotmers, recieve orders, keep track and record of trends, comunicate with your cusotmers, etc.</li>
                <li><a href="" class="bold-link">E - commerce</a> - this application will provide you with fully functional e-commerce application to serve your individual cusotmers.</li>
                <li><a href="" class="bold-link">Marketing</a> - this application will give you all tools you need to manage your marketing, measure results, trends and success.</li>
            </ul>

        </div>
        <img src="{% static 'home_app/images/customers.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@cytonn_photography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Cytonn Photography</a> on <a href="https://unsplash.com/photos/vWchRczcQwM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}