{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center;">Finance App</h1>
        <br>

        <div class="container">
            <h3>This is Finance Group of Applications, part of Open ERP</h3>
            <h4>You can choose from single entry bookkeeping or double entry bookkeeping, depending on your business need.</h4>
            <ul>
                <li><a href="" class="bold-link">Single-Entry Bookeeping</a> - this application will provide you will all you need for single entry bookkeeping.</li>
                <li><a href="" class="bold-link">Double-Entry Bookeeping</a> - this application will provide you will all you need for double entry bookkeeping.</li>
                <li><a href="" class="bold-link">Payroll</a> - this application will provide you will all you need to manage payroll in your business.</li>
            </ul>

        </div>
        <img src="{% static 'home_app/images/finance.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@ripeyyy_?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ibrahim Rifath</a> on <a href="https://unsplash.com/photos/OApHds2yEGQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}