{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1>KPI reports</h1>
        <br>
        <p>Open-source Enterprise Resource Planning software for small and medium businesses.</p>
        <img src="{% static 'home_app/images/KPIs.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@lukechesser?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Luke Chesser</a> on <a href="https://unsplash.com/photos/JKUTrJ4vK00?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}