{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center;">KPIs App</h1>
        <br>

        <div class="container">
            <h3>This is KPIs Group of Applications, part of Open ERP</h3>
            <h4>You can either choose Balanced score card or KPIs (Key performance indicators) for selected part of your business.</h4>
            <ul>
                <li><a href="" class="bold-link">Balanced Score Card</a> - this application wil check if you business KPIs are in balance, between People, Operation, Customers and Finance</li>
                <li><a href="" class="bold-link">People KPIs</a> - this application will provide with KPIs related to your People management</li>
                <li><a href="" class="bold-link">Operation KPIs</a> - this application will provide with KPIs related to your Operation management</li>
                <li><a href="" class="bold-link">Customer KPIs</a> - this application will provide with KPIs related to your Custoemrs management</li>
                <li><a href="" class="bold-link">Finance KPIs</a> - this application will provide with KPIs related to your Finance management</li>
            </ul>

        </div>
        <img src="{% static 'home_app/images/KPIs.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@lukechesser?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Luke Chesser</a> on <a href="https://unsplash.com/photos/JKUTrJ4vK00?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}