{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center;">Operation App</h1>
        <br>

        <div class="container">
            <h3>This is Operation Group of Applications, heart of Open ERP</h3>
            <h4>You can use below apps to do following tasks:</h4>
            <ul>
                <li><a href="" class="bold-link">Manufacturing</a> - if you are manufacturing business or part of your business operation is manufacturing, you can benefit from manufacturing application</li>
                <li><a href="" class="bold-link">Supply Chain</a> - this application will help you to manage flow of your product or service, from supplier, through planning and logistic up to delivery to your customer.</li>

            </ul>

        </div>
        <img src="{% static 'home_app/images/operation.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@rozetsky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ant Rozetsky</a> on <a href="https://unsplash.com/photos/SLIFI67jv5k?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}