{% extends "home_app/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center;">Finance App</h1>
        <br>

        <div class="container">
            <h3>This is Projects Group of Applications, part of Open ERP</h3>
            <h4>These two apps will provide you with all necessary support for projects management</h4>
            <ul>
                <li>Projects Data - this application will help you keep your projects organised and accesible</li>
                <li>Projects Management - this application will help you to go though project from start to end</li>
            </ul>

        </div>
        <img src="{% static 'home_app/images/projects.jpg' %}" class="img-fluid" alt="Image">
        <p>Photo by <a href="https://unsplash.com/@uxindo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">UX Indonesia</a> on <a href="https://unsplash.com/photos/w00FkE6e8zE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>

{% endblock content %}